{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>🤖 Sobre o Projeto</h1>
            
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">🎯 Objetivo</h5>
                            <p class="card-text">
                                Desenvolver um sistema inteligente de recomendações usando 
                                Django, MySQL, Bootstrap e técnicas avançadas de IA/ML.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">🚀 Tecnologias</h5>
                            <ul>
                                <li>Django & Django REST Framework</li>
                                <li>MySQL</li>
                                <li>Bootstrap 5</li>
                                <li>Scikit-learn</li>
                                <li>LangChain & LLMs</li>
                                <li>MLflow</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}